
  #canvas{
    margin:auto;
    background:#660000;
    width:100%;
    padding-top:3%;
    padding-left:3%;
    padding-right:3%;
    padding-bottom: 3%;
  
  }
  .btn-disable{
    color:#fff !important;
  }
  
  .filter-btn{
    
    width:100%
  }

  h4{
    color: #fff;
  
  }
  .clatirateBTN
  {
    color:red;
  }